
h1{
    text-align: center;
    font-size: 60px;
}
.submit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.body{
    background-color: rgb(31, 33, 36);
    color: rgb(137, 189, 235);
}
.main-section{
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding-top: 10px;
}
.container{
    padding-top: 20px;
}
.test{
    background-color: rgba(238, 244, 248, 0.562);
}